<div class="bg-[#1f2022] text-white pt-8 pb-16 px-4">
  <div class="max-w-5xl mx-auto flex flex-col gap-10">

    <div class="flex gap-8">
      <div class="min-w-[350px]">
        <img src="/photo.jpg" alt="Daenerys Targaryen" class="w-full h-full object-cover aspect-video sm:aspect-auto" />
      </div>
      <div>
        <h1 class="text-[1.75rem] font-bold mb-4 leading-tight">Daenerys Targaryen</h1>
        <hr class="border-gray-600 mb-6" />
        <h2 class="text-sm font-medium text-gray-200 mb-3">Character</h2>
        <p class="text-[13px] sm:text-sm text-gray-300 leading-relaxed font-sans text-justify">
          Daenerys Targaryen is the daughter of King Aerys II Targaryen (also referred to as "The Mad King")
          and his sister-wife Queen Rhaella, and is one of the last survivors of House Targaryen. She serves
          as the third-person point-of-view character of 31 chapters of A Game of Thrones, A Clash of Kings, A
          Storm of Swords, and A Dance with Dragons. This makes her the series' fourth most prominent
          narrative voice after Tyrion Lannister, Jon Snow and Arya Stark.
        </p>
      </div>
    </div>

    <div class="flex flex-row gap-8">
      <div class="w-full aspect-video relative">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ydi80YrCnPY?si=ddcOiW00JZUwUjzs"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div>
        <h2 class="text-sm font-medium text-gray-200 mb-3">Personality</h2>
        <p class="text-[13px] sm:text-sm text-gray-300 leading-relaxed font-sans text-justify">
          Daenerys is most often described as uncommonly beautiful, with long, pale silver-gold hair and
          purple eyes. She is slender and pale, although taller than some of her female ancestors. Tales of
          Daenerys's beauty are numerous, and throughout the novels she encounters countless suitors who seek
          her hand in marriage, sometimes to gain control of her three dragons. She is fluent in the Common
          Tongue of Westeros, Dothraki, High Valyrian and bastard Valyrian, which she speaks with a Tyroshi
          accent. Over the course of the first three novels she becomes fluent in the Dothraki language and
          Ghiscari, spoken in the slave cities in Essos.
        </p>
      </div>
    </div>

  </div>
</div>